.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

image {
  height: 300px;
  border-radius: 80%;
  opacity: 1;
  transition: opacity 5s;
}

.container {
  margin-top: 200px;
  margin-bottom: 30px;
}

Text {
  font-size: 32px;
  opacity: 0.8;
  font-family: 楷体;
  font-weight: bold;
  margin-bottom: 20px;
}

.text {
  font-size: 28px;
  opacity: 0.5;
  margin-bottom: 80px;
}

.at-timelineitem__dot {
  left: 5px;
}

.button {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
