.image {
  margin-bottom: 15px;
}

/* .tags {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  background: #000;
} */

.tag {
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
}

.border {
  height: 20px;
  background: #aaa;
  opacity: 0.1;
}

.at-card-header__title {
  /* color: #d81e06; */
  font-weight: bold;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
